html,body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: coral;
}

#nav-logo{
    display: flex;
    background-color: burlywood;
}

#nav-options{
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
    
    vertical-align: middle;
}
nav ul{
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    background-color: blue;
    display: flex;
    list-style: none;
}

nav li{
    font-size: 50px;
    vertical-align: center;
    padding-right: 10px;
}

nav li a{
    color: black;
    text-decoration: none;
}